<p>
  Submitter: <%= @obj["submitter"] %>
</p>
<p>
  Quote: <%= @obj["quote"] %>
</p>
<p>
  Attribution: <%= @obj["attribution"] %>
</p>
<p>
  Sentence: <blockquote><%= @sentence %></blockquote> 
</p>
