<body>
  <form action="create" method="post">
    <input type="text" name="submitter" placeholder="Submitter"><br>
    <input type="text" name="quote" placeholder="Quote"><br>
    <input type="text" name="attribution" placeholder="Arrtibution"><br> 
    <input type="submit" value="Submit">
  </form>
</body>
